# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
*.egg-info/
*.egg

# Virtual environments
env/
venv/

# Flet specific
.flet/

# macOS
.DS_Store

# IDE settings
.idea/
*.vscode/

# Temporary files
*.log
*.tmp

# Project-specific files (to ignore versions and version data)
icon.ico
SpamDetector.spec
src/spam_detector_app_exe.py

dist/
build/
nltk_data/

